
/* JSP/Admin/AdminIndex.jsp CSS Styling file */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');

*{
	margin: 0;
	padding: 0;
	user-select: none;
	font-family: Montserrat, Roboto, sans-serif;
	scroll-behavior: smooth;
	
	/*font-weight: bold;*/
}

body, html {
  height: 100%;
}

/* This is page background */
.AdminIndex-container{

  /* Use color to be cream-white. This will make the text easier to read */
  background-color: white; /*#f7f6f2*/

  display: flex;

  /* Horizontal Align Position used along with display: flex; */
  /*justify-content: center;*/

  /* Vertically Align Position used along with display: flex; */
  align-items: center;

  
  /* Set a specific height */
  height: 100%;
  max-width: 100%;
  width: 100%;
  max-width: 100%;
}


/* col-left text styling */
.AdminIndex-container-col-left{

  position: absolute;
  top: 50%;
  left: 28%;
  transform: translate(-50%, -50%);
}

.AdminIndex-container-col-left p{
	color: #3c8ecf;
	font-size: 50px;
	letter-spacing: 1.2px;
	line-height: 60px;
	margin-bottom: 40px;
}


.AdminIndex-container-col-left button{

	margin-bottom: 16px;
	display: inline-block;
	font-size: 18px;
	background-color: white;
	border: 1px solid #d9d7d0;
	text-align: left;
	padding: 16px;
	width: 400px;
}

.AdminIndex-container-col-left button:hover{
	box-shadow: 8px 8px 15px rgba(224, 220, 220, 0.5);
}

.AdminIndex-container-col-right{

	margin-top: 180px;
	margin-left: 800px;
}
