
/* JSP/Admin/AdminViewUserRecords.html CSS Styling file */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');

*{
	margin: 0;
	padding: 0;
	user-select: none;
	font-family: Montserrat, Roboto, sans-serif;
	scroll-behavior: smooth;
	
	/*font-weight: bold;*/
}

body, html {
  height: 100%;
}

/* This is page background */
.admin-view-user-records-container{

  /* Use color to be cream-white. This will make the text easier to read */
  background-color: white; /*#f7f6f2*/

  display: flex;

  /* Horizontal Align Position used along with display: flex; */
  /*justify-content: center;*/

  /* Vertically Align Position used along with display: flex; */
  /*align-items: center;*/
  
  margin-bottom: 80px;

}

.admin-view-user-records-container .col-left{
	float: left;
	width: 60%;
	padding-left: 10px;
	height: 100%;

	padding-top: 200px;
	text-align: center;

}

.admin-view-user-records-container .col-left .text-content{
	
	font-size: 26px;
	letter-spacing: 2px;
	margin-bottom: 10px;
}

.admin-view-user-records-container .col-left .table-container{

	width: auto;
	height: auto;

	text-align: right;

	padding: 26px;
	background-color: #586a85;
}

.admin-view-user-records-container .col-left .table-container input[type=search]{
	margin-bottom: 20px;
	padding: 8px;
	width: 30%;
	border: none;
	background-color: #fcfcfc;
}

.admin-view-user-records-container .col-left .table-container input[type=search]:hover, .admin-view-user-records-container .col-left .table-container input[type=search]:focus{
	background-color: #f5f5f5;
}


.admin-view-user-records-container .col-left .table-container table{
	
	border: 1px solid #ebebeb;

	background-color: white;

	width: 100%;
	height: 100%;

	text-align: center;
}


.admin-view-user-records-container .col-left .table-container table tbody:before {

	content:"-";
    display:block;
    line-height:10px;
    text-indent:-99999px;
}


.admin-view-user-records-container .col-left .table-container table tbody tr{
	background-color: #fcfcfc;
	line-height: 24px;
}

.admin-view-user-records-container .col-left .table-container table tbody tr:hover{
	background-color: #f5f5f5;
}

.admin-view-user-records-container .col-left .table-container table tbody td{
	padding: 6px;
	border-top: 1px solid #ebebeb;
}


.admin-view-user-records-container .col-left .table-container table tbody td a{
	text-decoration: none;
}

.admin-view-user-records-container .col-left .table-container table tbody td a:hover{
	text-decoration: underline;
}

.admin-view-user-records-container .col-left .table-container table tbody .hirestatus button{
	font-size: 15px;
	background-color: #606ca1;
	color: white;
	border: none;
	padding: 12px;
	font-weight: 650;
	border-radius: 6px;
	transition: 0.5s linear background-color;
}

.admin-view-user-records-container .col-left .table-container table tbody .hirestatus button:hover{
	background-color: #6f7bb3;
	border: none;

}

/*Print button styling*************************************************/
.admin-view-user-records-container .col-left .table-container .button_print{
	padding: 8px 38px;
	margin-top: 16px;
	border: none;
	
	font-weight: bold;
	font-size: 14px;

	transition: 0.8 ease color;
}

.admin-view-user-records-container .col-left .table-container .button_print:hover{

	border: none;
	background-color: #2b2e2b;
	color: white;
}

/*Print button styling end*************************************************/


.admin-view-user-records-container .col-right{
	float: left;
	height: 100%;
	
	align-items: center;

}


.admin-view-user-records-container .col-right img{
	padding-top: 45%;
}
