

/* CSS Styling for:
 * 1. Add Personal Detail
 * 2. Add Academic Detail
 * 3. Add Skills Detail
 */
 

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');

*{
	margin: 0;
	padding: 0;
	user-select: none;
	font-family: Roboto, sans-serif;
	scroll-behavior: smooth;
}

body {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("../../Images/user/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* This is page background */
#container {
  position: relative;
}

#container .logo {

  /*This three style property align HireUpLogo in center*/
  display: block;
  margin-left: auto;
  margin-right: auto;

  /* width: 100px; */
  height: 100px;
  border-radius: 50%; /*This make image rounded*/
  padding: 40px;
  opacity: 0.8;
}

#container .logo:hover{
  opacity: 1;
  transition-timing-function: ease-in;
}

#container .container-formheading {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
}

#container .container-form{
	/*position: relative;*/
  width:  600px;
	margin-top: 50px;
	border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  
  margin-bottom: 40px;
  /* font-weight: bold; */
}

.container-form p{
  color: red;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}


/* Separate styling for add user skills detail close ***********************************888*/
.container-form form .skills-table
{
  width: 100%;
  padding: 0px 10px;
}

.container-form form .skills-table .skills-sub-heading{
  font-size: 18px; 
  margin: 6px 0px 8px;
  color: #32a852;
}

.container-form form .skills-table td{
  width: 50%;
  padding: 0px 10px;
}


.container-form form .skills-table input[type=number]{

  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
/* Separate styling for add user skills detail close ************************************/


/* This are common styling, for add student personal detail, academic detail, and skills detail page form */


.container-form form input[type=text], .container-form form input[type=email], .container-form form input[type=date], .container-form form input[type=tel], .container-form form select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.container-form form textarea
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.container-form form input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container-form form input[type=submit]:hover {
  background-color: #45a049;
}


/*--------------------------------------------------------------*/
/* User Projects Experiences and Achievement Details CSS */

.container-form .skip-form{
  font-size: 14px;
  font-weight: initial;
  margin-bottom: 16px;
  text-align: right;
}

.container-form form table{
    box-sizing: border-box;
    width: 100%;
}


.container-form form table tr{
  font-size: 14px;
}

.container-form form table .table-sub-heading {
  font-size: 17px;
}

.container-form form table td {
  padding: 0px 12px;
  align-items: center;
}


.container-form form table input, select, input[type=number]{ 
  margin: 14px 0px;
  padding: 8px 18px;
  border: 1px solid #d7d9db;
  width: 80%;
}

.container-form form table input:hover, .user-settings-container .row form table select:hover {
  border: 1px solid #babcbf;
}

/*Close: User Projects Experiences and Achievement Details CSS */