

/* ForgetPassword.css style-sheet for ForgetPassword.html */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');



/*signup and login header*/
.update-password{
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: #3279a8;
	width: 50%;
	background: #fff;
	height: 60px;
	float: left;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
	text-transform: uppercase;
}


/*Back to Login text*/
span a{
	text-decoration: none;
	color: #2f6080;
	font-weight: bold;

}

/*Back to Login text Hover effect*/
span a:hover{
	text-decoration: underline;
	font-size: 18px;
	transition: 0.5s ease;
}

/*-------Login&Singup Page End----------------------------------------------------------------------------------------------------------*/
